<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/template}">>
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="contentDiv">
    <h2>Users</h2>
    <hr/>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" th:each="u : ${users}">
            <p th:text="${u.firstName}"></p>
        </div>
    </div>
</div>
</body>
</html>