<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/template}">
<head>
    <title>Рецепти | В хухнята</title>
</head>
<body>
<div layout:fragment="contentDiv">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
                <div class="mr-auto">
                    <h2 class="mb-0 recipeTitle"></h2>
                    <div title="Дата на създаване">
                        <small class="far fa-clock"></small>
                        <small class="text-muted mb-0 recipeCreatedOn">Created on</small>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#updateRecipeModal"
                   th:if="${@expressions.isUserAuthor(#session.getAttribute('user').userId, recipeId)}">
                    <i class="fas fa-edit"></i>
                    <span>Редактирай</span>
                </a>
                <a href="#" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteRecipeModal"
                   th:if="${@expressions.isUserAuthor(#session.getAttribute('user').userId, recipeId)}">
                    <i class="fas fa-trash"></i>
                    <span>Изтрий</span>
                </a>
            </div>

            <div class="d-flex align-items-end" sec:authorize="!isAuthenticated()">
                <div class="mr-auto">
                    <h2 class="mb-0 recipeTitle"></h2>
                    <div class="d-block d-lg-none" title="Дата на създаване">
                        <small class="far fa-clock"></small>
                        <small class="text-muted mb-0 recipeCreatedOn">Created on</small>
                    </div>
                </div>
                <div class="d-none d-lg-block" title="Дата на създаване">
                    <small class="far fa-clock"></small>
                    <small class="text-muted mb-0 recipeCreatedOn">Created on</small>
                </div>
            </div>

            <hr/>
            <div class="view overlay zoom mb-4">
                <img id="recipeImage" src="#" class="img-fluid img-thumbnail rounded w-100"
                     alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-orange-strong">
                    <h2 class="white-text recipeTitle">Title</h2>
                </div>
            </div>
            <div class="d-inline-block mr-4">
                <i class="fas fa-hourglass-start d-block text-center mb-2 icon-size-1"></i>
                <strong class="d-block text-center">Приготвяне</strong>
                <div class="d-block text-center">
                    <span id="recipePrepare"></span>
                    <span>мин.</span>
                </div>
            </div>
            <div class="d-inline-block mr-4">
                <i class="fas fa-hourglass-half d-block text-center mb-2 icon-size-1"></i>
                <strong class="d-block text-center">Готвене</strong>
                <div class="d-block text-center">
                    <span id="recipeCooking"></span>
                    <span>мин.</span>
                </div>
            </div>
            <div class="d-inline-block mr-4">
                <i class="far fa-clock d-block text-center mb-2 icon-size-1"></i>
                <strong class="d-block text-center">Общо</strong>
                <div class="d-block text-center">
                    <span id="recipeTotal"></span>
                    <span>мин.</span>
                </div>
            </div>
            <div class="d-inline-block mr-4">
                <i class="fas fa-utensils d-block text-center mb-2 icon-size-1"></i>
                <strong class="d-block text-center">Порции</strong>
                <div class="d-block text-center">
                    <span id="recipePortions"></span>
                </div>
            </div>

            <hr/>

            <h5><i>Публикувана в категория <span id="recipeCategoryWrapper"><a id="recipeCategory" href="#"
                                                                               th:href="@{/}"></a></span></i></h5>

            <h4 class="my-4 font-weight-bold">Необходими съставки</h4>
            <div id="recipeIngredients" class="font-weight-bold">Съставки</div>

            <h4 class="my-4 font-weight-bold">Начин на приготвяне</h4>
            <div id="recipeRecipe">Рецепта</div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="d-flex align-items-center">
                <h2 class="mr-auto mb-0">Последни</h2>
            </div>
            <hr/>

            <div id="sidePostsList" class="row">
            </div>
        </div>
    </div>

    <div id="cloner" class="col-12 mb-3" style="display: none;">
        <a id="sideImageLink" href="#" class="d-flex align-items-start">
            <img src="https://recepti.gotvach.bg/files/lib/600x350/suh-mishmash.JPG"
                 class="img-fluid float-left mr-2" width="80" alt="..."/>
            <div class="text-muted">
                <div id="sideRecipeTitle">Recipe title</div>
                <small id="sideRecipeCreatedOn">Created on</small>
            </div>
        </a>
        <hr class="mb-0 mt-3"/>
    </div>

    <div class="modal fade" sec:authorize="isAuthenticated()"
         th:if="${@expressions.isUserAuthor(#session.getAttribute('user').userId, recipeId)}"
         id="deleteRecipeModal" tabindex="-1"
         aria-labelledby="deleteRecipeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRecipeModalLabel">Изтриване на рецепта</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-text">Наистина ли искате да изтриете тази рецепта?</div>
                    <form id="recipeDeleteForm">
                        <input id="recipeDeleteUserId" type="hidden" name="userId"
                               th:value="${#session.getAttribute('user').userId}"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="deleteRecipe()" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                        <span>Изтрий</span>
                    </a>
                    <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        <span>Затвори</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" sec:authorize="isAuthenticated()"
         th:if="${@expressions.isUserAuthor(#session.getAttribute('user').userId, recipeId)}"
         id="updateRecipeModal" tabindex="-1"
         aria-labelledby="updateRecipeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateRecipeModalLabel">Редактиране на рецепта</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="recipeCreateForm">
                        <div class="row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="modalRecipeTitle">Заглавие</label>
                                <input id="modalRecipeTitle" type="text" name="title" class="form-control"
                                       required="required"/>
                                <span id="modalRecipeTitleError" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="modalRecipeCategory">Категория</label>
                                <select id="modalRecipeCategory" name="categoryId" class="form-control"
                                        required="required">
                                    <option value="1">Салати</option>
                                    <option value="2">Супи</option>
                                    <option value="3">Разядки</option>
                                    <option value="4">Предястия</option>
                                    <option value="5">Основни</option>
                                    <option value="6">Десерти</option>
                                    <option value="7">Напитки</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-lg-4">
                                <label for="modalRecipePrepare">Време за потготовка (мин)</label>
                                <input id="modalRecipePrepare" type="number" min="1" name="prepareTime"
                                       class="form-control" value="10"
                                       required="required"/>
                                <span id="modalRecipePrepareError" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="modalRecipeCooking">Време за готвене (мин)</label>
                                <input id="modalRecipeCooking" type="number" min="1" name="cookingTime"
                                       class="form-control" value="15"
                                       required="required"/>
                                <span id="modalRecipeCookingError" class="invalid-feedback"></span>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="modalRecipePortions">Порции (брой)</label>
                                <input id="modalRecipePortions" type="number" min="1" name="portions"
                                       class="form-control" value="4"
                                       required="required"/>
                                <span id="modalRecipePortionsError" class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modalRecipeImage">Изображение (линк)</label>
                            <input id="modalRecipeImage" type="text" name="imagePath" class="form-control"
                                   required="required"/>
                            <span id="modalRecipeImageError" class="invalid-feedback"></span>
                        </div>
                        <div class="form-group">
                            <label for="modalRecipeIngredients">Съставки</label>
                            <textarea id="modalRecipeIngredients" name="ingredients" class="form-control"
                                      required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="modalRecipeRecipe">Рецепта</label>
                            <textarea id="modalRecipeRecipe" name="recipe" class="form-control"
                                      required="required"></textarea>
                        </div>
                        <input id="modalUserId" type="hidden" name="userId"
                               th:value="${#session.getAttribute('user').userId}"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="updateRecipe()" class="btn btn-primary btn-md">
                        <i class="fas fa-save"></i>
                        <span>Запази</span>
                    </a>
                    <button type="button" class="btn btn-outline-dark btn-md" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        <span>Затвори</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let recipeId = /*[[${recipeId}]]*/;
        let recipeUrl = /*[[@{/api/recipes/}]]*/;
        let lastRecipesUrl = /*[[@{/api/recipes/lastN}]]*/;
        let homeUrl = /*[[@{/}]]*/;
        let error404 = /*[[@{/404}]]*/;
        /*]]>*/

        $.ajax({
            url: recipeUrl + recipeId,
            method: "GET",
            success: function (data) {
                if (!data) {
                    window.location.href = error404;
                }

                $('.recipeTitle').text(data.title);
                $('.recipeCreatedOn').text(formatDate(data.createdOn));
                $('#recipeImage').attr("src", data.imagePath);
                $('#recipePrepare').text(data.prepareTime);
                $('#recipeCooking').text(data.cookingTime);
                $('#recipeTotal').text(data.prepareTime + data.cookingTime);
                $('#recipePortions').text(data.portions);

                if (!data.category) {
                    $('#recipeCategory').remove();
                    $('#recipeCategoryWrapper').text("Неизвестна");
                } else {
                    $('#recipeCategory').text(data.category.categoryName);
                    let selectedCategoryId = data.category.categoryId;
                    $('#modalRecipeCategory').val(selectedCategoryId);
                }

                if (!data.ingredients) {
                    $('#recipeIngredients').html("Няма записани съставки");
                } else {
                    $('#recipeIngredients').html(data.ingredients);
                }

                if (!data.recipe) {
                    $('#recipeRecipe').html("Няма записана рецепта");
                } else {
                    $('#recipeRecipe').html(data.recipe);
                }


                $('#modalRecipeTitle').val(data.title);
                $('#modalRecipePrepare').val(data.prepareTime);
                $('#modalRecipeCooking').val(data.cookingTime);
                $('#modalRecipePortions').val(data.portions);
                $('#modalRecipeImage').val(data.imagePath);
                $('#modalRecipeIngredients').val(data.ingredients);
                $('#modalRecipeRecipe').val(data.recipe);
            }
        });

        let lastRecipesCount = 4;

        $.ajax({
            url: lastRecipesUrl,
            method: "GET",
            data: {count: lastRecipesCount},
            success: function (data) {
                data.forEach(function (recipe) {
                    let miniMe = $('#cloner').clone();
                    miniMe.find('#sideImageLink').attr("href", "/recipe/" + recipe.recipeId);
                    miniMe.find('#sideImageLink img').attr("src", recipe.imagePath);

                    if (recipe.title.length > 20) {
                        miniMe.find('#sideRecipeTitle').text(recipe.title.substr(0, 17) + "...");
                    } else {
                        miniMe.find('#sideRecipeTitle').text(recipe.title);
                    }

                    miniMe.find('#sideRecipeCreatedOn').text(formatDate(recipe.createdOn));

                    $('#sidePostsList').append(miniMe);
                    miniMe.show();
                });
            }
        });

        function updateRecipe() {
            let title = $("#modalRecipeTitle").val();
            let categoryId = $("#modalRecipeCategory").val();
            let prepareTime = $("#modalRecipePrepare").val();
            let cookingTime = $("#modalRecipeCooking").val();
            let portions = $("#modalRecipePortions").val();
            let imagePath = $("#modalRecipeImage").val();
            tinyMCE.triggerSave();
            let ingredients = $("#modalRecipeIngredients").val();
            tinyMCE.triggerSave();
            let recipe = $("#modalRecipeRecipe").val();
            let userId = $("#modalUserId").val();

            let hasErrors = false;

            removeError('#modalRecipeTitle', '#modalRecipeTitleError');
            removeError('#modalRecipePrepare', '#modalRecipePrepareError');
            removeError('#modalRecipeCooking', '#modalRecipeCookingError');
            removeError('#modalRecipePortions', '#modalRecipePortionsError');
            removeError('#modalRecipeImage', '#modalRecipeImageError');

            if (!title || isBlank(title)) {
                hasErrors = showError('#modalRecipeTitle', '#modalRecipeTitleError', "Заглавието не може да бъде празно");
            }

            if (!prepareTime) {
                hasErrors = showError('#modalRecipePrepare', '#modalRecipePrepareError', "Полето е задължително");
            }
            if (prepareTime < 0) {
                hasErrors = showError('#modalRecipePrepare', '#modalRecipePrepareError', "Времето за подготовка не може да бъде отрицателно");
            }

            if (!cookingTime) {
                hasErrors = showError('#modalRecipeCooking', '#modalRecipeCookingError', "Полето е задължително");
            }
            if (cookingTime < 0) {
                hasErrors = showError('#modalRecipeCooking', '#modalRecipeCookingError', "Времето за готвене не може да бъде отрицателно");
            }

            if (!portions) {
                hasErrors = showError('#modalRecipePortions', '#modalRecipePortionsError', "Полето е задължително");
            }
            if (portions < 0) {
                hasErrors = showError('#modalRecipePortions', '#modalRecipePortionsError', "Броят на порциите не може да бъде отрицателно");
            }

            if (!imagePath || isBlank(imagePath)) {
                hasErrors = showError('#modalRecipeImage', '#modalRecipeImageError', "Изображението не може да бъде празно");
            }

            if (!hasErrors) {
                $.ajax({
                    url: recipeUrl,
                    method: "PUT",
                    data: {
                        title: title,
                        categoryId: categoryId,
                        recipeId: recipeId,
                        prepareTime: prepareTime,
                        cookingTime: cookingTime,
                        portions: portions,
                        imagePath: imagePath,
                        ingredients: ingredients,
                        recipe: recipe,
                        userId: userId
                    },
                    success: function (result) {
                        window.location.href = homeUrl + "recipe/" + recipeId;
                    }
                });
            }
        }

        function deleteRecipe() {
            $.ajax({
                url: recipeUrl + recipeId,
                method: "DELETE",
                success: function (result) {
                    window.location.href = homeUrl;
                },
                error: function (error) {
                    alert("Error");
                }
            });
        }
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            min_height: 400
        });
    </script>
</div>
</body>
</html>