<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/template}">
<head>
    <title>Тест | В хухнята</title>
</head>
<body>
<div layout:fragment="contentDiv">

    <div class="row">
        <div class="col-12">
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let homeUrl = /*[[@{/}]]*/;
        /*]]>*/
    </script>
</div>
</body>
</html>