<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav id="menu" class="mb-1 navbar navbar-expand-lg navbar-dark amber darken-3">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Готвач БГ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <!--                <li class="nav-item" th:classappend="${globalMenu eq 'home'} ? 'active'">-->
                <!--                    <a class="nav-link" href="#" th:href="@{/}">-->
                <!--                        <i class="fas fa-home"></i>-->
                <!--                        <span>Начало</span>-->
                <!--                    </a>-->
                <!--                </li>-->
                <form th:action="@{/}" class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control" type="text" size="50" name="q"
                               th:value="${#request.getParameter('q')}" placeholder="Търси рецепта..."/>
                    </div>
                </form>
                <!--                <li class="nav-item" th:classappend="${globalMenu eq 'recipes'} ? 'active'">-->
                <!--                    <a class="nav-link" href="#" th:href="@{/}">-->
                <!--                        <i class="fas fa-utensils"></i>-->
                <!--                        <span>Рецепти</span>-->
                <!--                    </a>-->
                <!--                </li>-->
            </ul>
            <ul class="navbar-nav ml-auto">
                <div th:remove="tag" sec:authorize="!isAuthenticated()">
                    <li class="nav-item" th:classappend="${globalMenu eq 'login'} ? 'active'">
                        <a class="nav-link" href="#" th:href="@{/login}">
                            <i class="fas fa-sign-in-alt"></i>
                            <span>Вход</span>
                        </a>
                    </li>
                    <li class="nav-item" th:classappend="${globalMenu eq 'signup'} ? 'active'">
                        <a class="nav-link" href="#" th:href="@{/signup}">
                            <i class="fas fa-user-plus"></i>
                            <span>Регистрация</span>
                        </a>
                    </li>
                </div>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                        <span th:text="${#session.getAttribute('user').fullName}">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user icon-width"></i>
                            <span>Профил</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs icon-width"></i>
                            <span>Настройки</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">
                            <i class="fas fa-sign-out-alt icon-width"></i>
                            <span>Изход</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>